VIKUNJA_API_TOKEN: "tk_1c5b9bf0c995770c753a2ee7677311e8f4367892"
VIKUNJA_API_URL: http://host.docker.internal:3456/api/v1
VIKUNJA_PUBLIC_URL: http://localhost:3456
CHECK_INTERVAL_SECONDS: "60"
NOTIFY_BEFORE_SECONDS: "0"